.text-field 
{
    -fx-font-size : 13pt;
}

.combo-box .list-cell{
    -fx-font-size : 13pt;
}

.combo-box .text-input {
    -fx-font-size : 13pt;
}

.combo-box-popup .list-view .list-cell{
    -fx-font-size : 13pt;
}

/*added this in an edit*/
.combo-box-popup .list-view .list-cell {
    -fx-padding: -1 -1 -1 -1;
}